#content
{
    margin-bottom:0.5em;
}

.StatementText
{
    font-family:monospace;
    margin-bottom:0.5em;
}

.RelOp
{
    border-radius:5px;
    margin:0.1em;
    width:75%;
}

.RelOpSpacing
{
    font-family:monospace;
}

.JoinedRelOp
{
    background-color:#DDFDDD;
}

.LogicalOp
{
    font-weight:bold;
}

.EstTotalSubtreeCost
{
    font-family:monospace;
}

.ColumnReference
{
    font-family:monospace;
}

.IndexObject
{
    font-family:monospace;
}
